*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header{
    width: 100%;
    height: 60vh;
}

footer{
    width: 100%;
    background-color: #000;
    padding: 4rem 2rem 2rem;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.footer-container div{
    margin-bottom: 1rem;
}

.logo-container{
    font-family: 'Tourney',cursive;
}

.logo-container .logo{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.links i{
    margin-right: .5rem;
}

.links i:hover{
    color: tomato;
}

.head{
    color: #777777;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

ul li{
    list-style: none;
    margin-bottom: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    cursor: pointer;
}

ul li:hover{
    color: tomato;
}

.contact p{
    margin-bottom: 2rem;
}

.contact i{
    margin-right: 1rem;
}

.contact input{
    background-color: #000;
    border: none;
    outline: none;
    border-bottom: 1px solid #777777;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: 2.5rem;
}

.btn{
    padding: 1rem 2.5rem;
    background-color: tomato;
    width: fit-content;
}
